---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Navigation</title>
    <meta name="description" content="Navigate to private repositories" />
  </head>
  <body>
    <h1>Navigation</h1>
    <div>
      <a href="https://github.com/Bernankez/docker-config">docker-config</a>
      <samp>Docker compose config files</samp>
    </div>
    <div>
      <a href="https://github.com/Bernankez/settings">settings</a>
      <samp>Private settings for docker</samp>
    </div>
    <div>
      <a href="https://github.com/Bernankez/image-bed">image-bed</a>
      <samp>Image bed for blogs</samp>
    </div>
    <br />

    <div>
      <a href="https://github.com/Bernankez/subscription">subscription</a>
      <samp>Current subscriptions</samp>
    </div>
    <div>
      <a href="https://github.com/Bernankez/domains">domains</a>
      <samp>Domains in the subscription</samp>
    </div>
    <br />

    <div>
      <a href="https://github.com/Bernankez/todos">todos</a>
      <samp>Resume, TODO, Idea</samp>
    </div>
    <div>
      <a href="https://github.com/Bernankez/auth">auth</a>
      <samp>2fa secrets & access tokens</samp>
    </div>
    <br />

    <div>
      <a href="https://github.com/Bernankez/recorder-monitor">recorder-monitor</a>
      <samp>Bilibili recorder monitor</samp>
    </div>
  </body>
</html>
